.menu{
  justify-items: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 10px;
    padding: 1rem;
  }

  li{
    margin: 10px;
  }
  
/* 12 */
.btn-12{
  border: none;
  background-color: transparent;
  width: 130px;
  height: 40px;
  margin: 0.5rem;
  color: hsl(290, 10%, 20%); /* Casi negro con tinte morado */
}
.btn-12 span {
  background: linear-gradient(0deg, hsl(20, 90%, 60%) 0%, hsl(260, 75%, 65%) 100%); /* Naranja a morado */
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}