body {
  width: 98vw;
  height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(hsl(36, 99%, 50%), hsl(277, 86%, 55%));
}

